* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.header {
  background-image: url(assets/images/background.png);
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header-container {
  padding-top: 190px;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 35px 0;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.cards {
  display: flex;
  gap: 0 30px;
  padding: 60px 130px;
  background-color: #ffffff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

.card-title {
  width: 190px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: 500;
  color: #f7654a;
}
.card-description1 {
  width: 190px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
}
.card-description2 {
  width: 190px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.projects .heading {
  text-align: center;
}
.projects-list {
  display: flex;
  gap: 0 30px;
}
.projects-item {
  max-width: 350px;
}
.projects-item h3 {
  margin-bottom: 20px;
}

/* .images {
  width: 350px;
  height: 380px;
  margin-top: 1043px;
  flex-direction: row;
} */
.line {
  width: 55px;
  height: 6px;
  background-color: #f7654a;
  margin: 45px 0 15px 0;
}
