* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

.header {
  background-image: url(assets/images/background.png);
}
.container {
  max-width: 1110px;
  margin: 0 auto;
}
.header-container {
  padding-top: 190px;
}

.content {
  display: flex;
  flex-direction: column;

  gap: 35px 0;
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.cards {
  display: flex;
  gap: 0 30px;
  padding: 60px 130px;
  background-color: #ffffff;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
}

.card-title {
  width: 190px;
  height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  font-weight: 500;
  color: #f7654a;
}
.card-description1 {
  width: 190px;
  height: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 500;
}
.card-description2 {
  width: 190px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.sectioncards {
  display: flex;
  justify-content: space-between;
}

.container1 {
  width: 506px;
  height: 43px;
  margin-top: 200px;
}

.h2 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.images {
  width: 350px;
  height: 380px;
  margin-top: 1043px;
  flex-direction: row;
}

.line {
  width: 55px;
  height: 6px;
}
.arena {
  width: 142px;
  height: 29px;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
}

.paragraph {
  width: 350px;
  height: 83px;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  flex-direction: row;
}

.my_container_cards {
  display: flex;
}

.project h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 60px;
}

.block {
  height: 181px;
  margin-top: 200px;
  background-color: #f7654a;
}
.section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding-top: 73px;
  height: 181px;
  align-content: center;
}
.buttonSection {
  width: 175px;
  height: 49px;
  background-color: white;
}

.blockLeft h3 {
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}

.blockLeft p3 {
  color: white;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.whatwedoing {
  display: flex;
  justify-content: space-between;
}
.buildings {
  width: 1110px;
  height: 359px;
}
.h4 {
  font-size: 36px;
  font-weight: 500;
  font-family: "Oswald", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.threecards {
  display: flex;
  justify-content: space-between;
}
.threeCardsTextFirst {
  text-align: center;
  margin-bottom: 66px;
  margin-top: 150px;
}

.threeCardsTextSecond {
  margin-top: 150px;
  margin-bottom: 66px;
  text-align: center;
}
.sixcards {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
.contactText {
  font-size: 36px;
  font-weight: 500;
  text-align: center;
  margin-top: 112px;
  margin-bottom: 60px;
}

.contacts {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}
